{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
My Profile
{% endblock %}
{% block css %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive/responsive.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
{% if request.resolver_match.url_name == 'signup' %}
    <h1>SignUp</h1>
{% elif request.resolver_match.url_name == 'login' %}
    <h1>LogIn</h1>
{% endif %}

    <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
        <input type="submit" value="Submit" class="btn btn-info"/>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    
{% if request.resolver_match.url_name == 'update' %}
    {% if user == request.user %}
    <form action="{% url 'accounts:delete' %}" method="POST" onsubmit="return confirm('Are you sure ?')">
        {% csrf_token %}
    <button type="submit" class="btn btn-danger my-2">회원탈퇴</button>
    </form>
    {% endif %}
{% endif %}
</div>
{% endblock %}
